#!/usr/bin/env bash

GIT_HOST=github.com
GITHUB_USER=btoll
GITHUB_REPO=vagrantfiles
AWS_DEFAULT_REGION=us-west-1

echo "export GITHUB_TOKEN=derpyderpderp"
echo "export GIT_HOST=$GIT_HOST"
echo "export GITHUB_USER=$GITHUB_USER"
echo "export GITHUB_REPO=$GITHUB_REPO"
echo "export REPO_ALLOWLIST=$GIT_HOST/$GITHUB_USER/$GITHUB_REPO"
echo "export AWS_DEFAULT_REGION=$AWS_DEFAULT_REGION"

