#!/usr/bin/env bash

GIT_HOST=github.com
GITHUB_USERNAME=btoll
GITHUB_REPO=vagrantfiles

echo "export SECRET=foobar"
echo "export GITHUB_TOKEN=derpyderpderp"
echo "export GIT_HOST=$GIT_HOST"
echo "export GITHUB_USERNAME=$GITHUB_USERNAME"
echo "export GITHUB_REPO=$GITHUB_REPO"
echo "export REPO_ALLOWLIST=$GIT_HOST/$GITHUB_USERNAME/$GITHUB_REPO"

