#!/usr/bin/env bash

TARGET_USER=btoll
TARGET_REPO=vagrantfiles
AWS_DEFAULT_REGION=us-west-1

echo "export GITHUB_TOKEN=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"
echo "export GIT_HOST=github.com"

echo "export TARGET_USER=$TARGET_USER"
echo "export TARGET_REPO=$TARGET_REPO"

echo "export REPO_ALLOWLIST=$GIT_HOST/$TARGET_USER/$TARGET_REPO"

echo "export AWS_DEFAULT_REGION=$AWS_DEFAULT_REGION"
echo "export AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY_ID"
echo "export AWS_SECRET_ACCESS_KEY=$AWS_SECRET_ACCESS_KEY"

echo "export JFROG_USERNAME=$JFROG_USERNAME"
echo "export JFROG_PASSWORD=$JFROG_PASSWORD"

############################################################

CHEF_REPO=${CHEF_REPO:-pagerduty/chef}
CHEF_BRANCH=${CHEF_BRANCH:-master}

echo "export CHEF_REPO=$CHEF_REPO"
echo "export CHEF_BRANCH=$CHEF_BRANCH"

